Django==3.1.4 
numpy==1.19.4
Pillow==9.0.0
pyzbar==0.1.8
simplejson==3.16.0
virtualenv==20.0.35
urllib3==1.25.8
secure-smtplib==0.1.1
random2==1.0.1
PyQRCode==1.2.1
opencv-python==4.4.0.46
httplib2==0.19.0
DateTime==4.3
