{% load staticfiles %}
{% static "" as img %}
<!DOCTYPE html>
<html>
<head>
	<title>Toc Login</title>
	<link rel="icon" href="{% static 'index/img/icon.png' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'log/css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'log/img/wave.png' %}">
	<div class="container">
		<div class="img">
			<div class="align">
			<a href="{% url 'register' %}" style= "width:160px" >Sign up</a>
			</div>
		</div>
		<div class="login-content">
			<form action="{% url 'check_log' %}" method="post">{% csrf_token %}
				<img src="{% static 'log/img/avatar.svg' %}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input" autocomplete="off" name="uname">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" autocomplete="off" name="pass" required>
            	   </div>
            	</div>
            	<a href="{% url 'forget_pass' %}">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'log/js/main.js' %}"></script>
</body>
</html>
