
@import url(https://fonts.googleapis.com/css?family=Signika:400,700|Courgette);
section {
    margin: 0em auto 0;
    width: 100%;
    max-width: 800px;
}

inputs {
    display: block;
    margin: .5em auto 0em;
    padding: 0.5em 1em 0.5em 0.7em;
    width: 100%;
    border: none;
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.8);
    font-size: 2em;
    line-height: 0;
        transition: all .5s linear;
}

.div p{
	font-size: 15px;
    margin-top: 26px;
    color: white;
    margin-left: 180px;

}

inputs:hover, inputs:focus {
    outline: 0;
    transition: all .5s linear;
    box-shadow: inset 0px 0px 10px #ccc;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            
    margin: 0 auto 1em;
    width: 100%;
    height: .5em;
    
    /* Applicable only to Firefox */
    background: none;
    back
}

meter::-webkit-meter-bar {
    background: none;
    background-color: none;
}

.feedback {
    color: #9ab;
    font-size: 90%;
    padding: 0 .25em;
    font-family: Courgette, cursive;
    margin-top: 1em;
}